<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Sidebar content-->
      <center>
      <h2 > Chicago crime Data</h2><br>
      <p>
        Sort by:  <select ng-model="$ctrl.orderProp">
          <option value="year">Year</option>
          <option value="above_500">Above $500</option>
          <option value="under_500">Under $500</option>
        </select>
        <input placeholder="Enter value" ng-model="$ctrl.query" />
        <button ng-click="filter()">Filter</button><br><br>
      </p>
    </center>


    </div>
    <div class="col-md-12">
      <!--Body content-->

    <!---  <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <span>{{phone.year}}</span>
          <p>{{phone.above_500}}</p>
            <p>{{phone.under_500}}</p>
        </li>
      </ul>----->
      <center>
      <table id="text">
        <tr><th  id="text">YEAR </th>
          <th  id="text"> UNDER $500 </th>
          <th id="text">ABOVE $500</th>
         <th>Remove</th></tr>
          <tr  ng-repeat="phone in $ctrl.phones | startfrom:(($ctrl.currentPage)*($ctrl.pageSize))| limitTo:$ctrl.pageCount">
             <td>{{phone.year}}</td>
             <td>{{phone.above_500}}</td>
             <td>{{phone.under_500}}</td>
             <td>
				    <button type="button" ng-click="removeItem(phone)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
           </tr>

      </table><br>
      <div style="margin-left:auto;margin-right:auto;width:500px;padding-top:30px;">
  <button ng-disabled="$ctrl.currentPage == 0" ng-click="$ctrl.currentPage=$ctrl.currentPage-1">
         Prev
   </button>
  <button ng-repeat="i in [1,2,3,4,5,6,7,8]  | limitTo:$ctrl.pageCount" ng-click="$ctrl.currentPage=i-1">{{i}}</button>
  <button ng-disabled="$ctrl.currentPage>=$ctrl.phones/$ctrl.pageSize-1" ng-click="$ctrl.currentPage=$ctrl.currentPage+1">
        Next
  </button>
</div>
    </center>
    </div>
  <!---------  <center><div>
    <h3 id="text">Add More Record</h3>
    <form> <div>
        <label id="color" for="year">&nbsp&nbspEnter Year :</label>
        <input id="textbox" placeholder="Year of Theft">
      </div><br>
      <div>
        <label  id="color" for="above_500">Above $500 :</label>
        <input  id="textbox1" placeholder="value of above $500">
      </div><br>
      <div>
        <label id="color" for="under_500">Under $500 :</label>
        <input   id="textbox2" placeholder="value of under $500">
      </div><br>
      <input type="button" value="ADD" onclick="addRecord()"/></form></div></center>-------->
  </div>
</div>
